/* Fuentes */

@font-face {
	font-family: "SF Pro Display";
	src: url("./fonts/SF-Pro-Display-Regular.otf") format("opentype");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "SF Pro Display";
	src: url("./fonts/SF-Pro-Display-Medium.otf") format("opentype");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "SF Pro Display";
	src: url("./fonts/SF-Pro-Display-Semibold.otf") format("opentype");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "SF Pro Display";
	src: url("./fonts/SF-Pro-Display-Bold.otf") format("opentype");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}





*{
    margin: 0;
    padding: 0;
}

html{
    background-color: #1e1e1e;
    font-family: "SF Pro Display", sans-serif;
    scrollbar-width: none;
}

body{
    max-width: 1440px;
    margin: auto;
    background-color: white;
}

.link{
    text-decoration: none;
    color: #2f80ed;
}





/* Header Style */

.header-div{
    background: linear-gradient(180deg, #2969BF 0%, #144E9D 100%);
    height: 200px;
}

header .navegacion2{
    text-decoration: none;
    margin-bottom: 1px;
    margin-left: 24px;
}


header .navegacion2 *{
    color: white;
}

header .navegacion2 li{
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.32px;
}

header{
    height: 68px;
    margin: 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img{
    margin-top: 4px;
    flex-grow: 1;
}

header ul{
    list-style: none;
    display: flex;
    gap: 48px;
}


header ul *{
    color: black;
    text-decoration: none;
}

header nav{
    align-items: center;
    display: flex;
    gap: 10px;
}

header .navegacion{
    margin-bottom: 1px;
    margin-left: 24px;
}

header .navegacion li{
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.32px;
}

header nav h2{
    font-weight: 500;
    font-style: Medium;
    font-size: 18px;
    line-height: 100%;

}


header .notify{
    margin-top: 0px;
    margin-right: 2px;
    margin-left: 94px;
}

header .avatar{
    margin-bottom: 5px;
    margin-left: 10px;
}


.register-button{
    width: 90px;
    height: 38px;
    text-align: center;
    align-content: center;
    border-radius: 6.5px;
    text-decoration: none;
    border: 1px solid rgba(47, 128, 237, 1);
    color: rgba(47, 128, 237, 1);
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0.52px;

}

.sing-button{
    width: 80px;
    height: 38px;
    text-align: center;
    align-content: center;
    border-radius: 6px;
    text-decoration: none;
    border: 1px solid rgba(47, 128, 237, 1);
    background-color: rgba(47, 128, 237, 1);
    color: white;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0.52px;
}









main{
    margin: 0px 100px;
    background-color: white;
}


/* Index Main */


.index .welcome{
    margin: 12px 0;
    width: 1240px;
    height: 500px;
    text-align: center;
    color: white;
    background-image: url(images/welcome.png);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 23px;
}

.index .welcome .title{
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;
}

.index .welcome .subtitle{ 
    top: 328px;
    left: 395px;
    font-weight: 300;
    font-size: 19px;
    line-height: 30px;
    letter-spacing: 0.80px;
}


/* Search */

.result .search{
    position: absolute;
    top: 212px;
    width: 1030px;
}

.search{
    position: relative;    
    z-index: 10;
    align-content: center;
    height: 64px;
    margin: -44px 105px 0 105px;
    border-radius: 8px;
    box-shadow: 0px 4px 37px 0px rgba(0, 0, 0, 0.15);
    background-color: white;
}

.search form{
    padding-left: 12px;
    width: 100%;
    display: flex;
    gap: 12px;
}

.search input{
    padding-left: 20px;
    border-radius: 4px;
    border: 1px;
    background-color: rgba(242, 242, 242, 1);
}

.search input:focus{
    background-color: rgb(255, 255, 255);
}

.search .date{
    padding-right: 20px;
    width: 130px;
    height: 43px;
}

.search .location{
    width: 240px;
    height: 43px;
}

.search .guest{
    width: 190px;
    height: 43px;
}

.search button{
    width: 148px;
    height: 44px;
    border-radius: 6px;
    color: white;
    background-color: #2f80ed;
    border: 0px;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.32px;
    cursor: pointer;
}



/* Warning Style*/

.warning{
    height: 72px;
    margin: 50px 0 50px 0;
    border-radius: 8px;
    background-color: rgba(252, 239, 202, 1);
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 0 24px;
    letter-spacing: 0.32px;
}

.warning p{
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.32px;
    padding-left: 3px;
}


/* Card Style */

.index .title-card{
    font-weight: 600;
    font-size: 28px;
    margin-bottom: 16px;
    margin-top: -1px;
}

.index #PopularHotels{
    margin-bottom: 23px;
}

.index .subtitle-card{
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.32px;
    margin-bottom: 28px;
}

.index .section-cards{
    display: flex;
    justify-content: space-between;
    margin-bottom: 61px;
}

.index .section-cards img{
    cursor: pointer;
}

.index .section-cards .name{
    margin-top: 10px;
    font-weight: 600;
    font-size: 20px;
}

.index .section-cards .properties{
    margin-top: 6px;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.32px;
}



.index .travel-inspirations{
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
    padding-top: 7px;
}

.index .travel-inspirations img{
    position: absolute;
    cursor: pointer;
}

.index .travel-inspirations div{
    width: 360px;
    height: 240px;
    margin: 20px 20px;
    position: relative;
    align-content: end;
    color: white;
    cursor: pointer;
}

.index .travel-inspirations div h4{
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
}

.index .travel-inspirations div p{
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.32px;
    padding-top: 11px;
    margin-bottom: -2px;
}


/* Downloader Style */

.index .download{
    display: flex;
    height: 280px;
    background-image: url(images/downloader.png);
    color: white;
}

.index .download div{
    margin: 64px 0 64px 69px;
}

.index .download div h2{
    width: 580px;
    font-weight: 600;
    font-size: 28px;
    line-height: 140%;
}

.index .download div button{
    width: 182px;
    height: 44px;
    color: white;
    background-color: #2f80ed;
    border-radius: 6px;
    border: 1px;
    margin-top: 30px;
    letter-spacing: 0.90px;
    cursor: pointer;
}

.index .download img{
    margin-left: -198px;
}


















/* Formularios Main */

.formularios form{
    height: 82.91vh;
    height: 82.6vh;
    margin: auto;
    margin-top: 94px;
    max-width: 400px;
}

.formularios .check{
    height: 82.8vh;
    margin: auto;
    margin-top: 94px;
    max-width: 400px;
}


.formularios form .photo{
    width: 100%;
    text-align: center;
    margin-bottom: 38px;
    margin-top: -2px;
}

.formularios form .inbox{
    background-color: rgba(254, 226, 101, 0.3);
    padding: 25px 40px;
    border-radius: 20px;
    margin: auto;
}


.formularios form .title{
    margin-bottom: 43px;
    font-weight: 500;
    font-size: 29px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
}

.formularios form .title-forgot{
    padding-top: 60px;
    margin-bottom: 43px;
    font-weight: 500;
    font-size: 29px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
}

.formularios form .subtitle{
    margin-top: -29px;
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.32px;
    text-align: center;
}

.formularios form .input-div{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.formularios form .input-div label{
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.52px;
    padding-bottom: 6px;
}

.formularios form .input-div input::placeholder{
    color: transparent;
}

.formularios form .input-div input:focus::placeholder{
    color: gray;
}

.formularios form .input-div input{
    height: 44px;
    border: 1px;
    border-radius: 4px;
    background-color: rgba(242, 242, 242, 1);
    padding-left: 13px;
}

.formularios form .input-div input:focus{
    height: 44px;
    border: 1px;
    border-radius: 4px;
    border:  #2f80ed;
    background-color: rgb(255, 255, 255);
    padding-left: 12px;
    font-weight: 400;
    font-size: 15px;
    line-height: 140%;
    letter-spacing: 0.32px;
}

.formularios form .input-div .password{
    margin-top: -8px;
}

.formularios .flex{
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    margin-top: -10px;
    margin-bottom: 20px;
}

.formularios .flex .signed{
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0.32px;
    color: gray;
}

.formularios .flex .signed label{
    padding-left: 8px;
}ç

.formularios .flex .signed p{
    font-weight: 500;
    font-style: Medium;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 2%;
    text-align: right;
    vertical-align: middle;
}


.formularios .flex #checkbox{
    width: 20px;
    height: 20px;
}

.formularios form .send{
    width: 100%;
    height: 44px;
    border: 1px;
    border-radius: 6px;
    background-color: rgba(47, 128, 237, 1);
    color: white;
    font-family: "SF Pro Display", sans-serif;
    font-weight: 500;
    font-style: Medium;
    font-size: 14.5px;
    line-height: 20px;
    letter-spacing: 0.42px;
    cursor: pointer;
}

/* DIVISOR */

.formularios form .divisor{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 27px 0;
}

.formularios form .divisor p{
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.32px;
    text-align: center;
    vertical-align: middle;
}

.formularios form .google{
    width: 100%;
    height: 44px;
    border: 0.5px solid rgb(219, 219, 219);
    border-radius: 6px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-weight: 500;
    font-style: Medium;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.12px;
    margin-bottom: 12px;
    cursor: pointer;
}

.formularios form .google img{
    margin-bottom: -5px;
    margin-right: 10px;
}

.formularios form .facebook{
    width: 100%;
    height: 44px;
    margin-bottom: 62px;
    border: 0.5px solid rgba(71, 89, 147, 1);
    border-radius: 6px;
    background-color: rgba(71, 89, 147, 1);
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-style: Medium;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.12px;
    cursor: pointer;
}

.formularios form .facebook img{
    margin-bottom: -5px;
    margin-right: 10px;
}

.formularios form .divisor hr{
    border: 0px;
    width: 102px;
    height: 1px;
    background-color: rgb(196, 196, 196);
}

.formularios p{
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0.32px;
    text-align: center;
}

.formularios .terms-text{
    text-align: left;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.32px;
    margin-top: 30px;
}

/* Fin Formularios */






/* Searching */


/* Search */

.flex-main{
    margin-top: 72px;
    display: flex;
    justify-content: space-between;
}


.flex-main .result-cards{
    width: 915px;
}

.result-cards .title{
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    margin-top: 1px;
}



/* Filtros */

.filters{
    width: 295px;
}


fieldset label{
    color: gray;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0.16px;
}

.result{
    margin-top: 104px;
}

.result .search-name input[type='text']{
    width: 259px;
    height: 44px;
    border-radius: 4px;
    border: 1px solid rgba(224, 224, 224, 1);
    background-color: rgba(255, 255, 255, 1);
    padding: 0px 41px 2px 41px;
    box-sizing: border-box;
    letter-spacing: 0.10px;
}

.search-name div{
    display: flex;
    align-items: center;
}

.search-name div img{
    margin-left: -245px;
    margin-bottom: 2px;
}

.search-name{
    width: 295px;
    height: 119px;
    background-color: rgba(242, 242, 242, 1);
    border: 0px solid rgba(224, 224, 224, 1);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 22px 0px 20px 18px;
    box-sizing: border-box;
}


/* Filter By */


.title-filter{
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0.36px;
    margin: 22px 0 21px 18px;
    color: gray;
}


.filter{
    border: 1px solid rgba(224, 224, 224, 1);
    border-radius: 6px;
    margin-bottom: 20px;
}

.filter p{
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0.32px;
}

.filter label{
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0.32px;
    box-sizing: border-box;
}

.range-money div{
    display: flex;
    align-items: center;
}

.right-line{
    border-right: 1px solid rgba(224, 224, 224, 1);
}

.range-money label{
    margin-left: 8px;
    cursor: pointer;
}

.filter input[type='checkbox']{
    width: 20px;
    height: 20px;
    border-radius: 6px;
    cursor: pointer;
}

.filter .legend{
    width: 293px;
    height: 54px;
    box-sizing: border-box;
    background-color: rgba(242, 242, 242, 1);
    border-bottom: 1px solid rgba(224, 224, 224, 1);
    padding: 19px 17px;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0.16px;
}

.filter .content{
    margin: 18px 19px 17px 17px;
}

.filter .content .range-money{
    display: flex;
    justify-content: space-between;
    margin-bottom: 14px;
}


.own-budget{
    margin-top: 23px;
    display: flex;
    justify-content: space-between;
}

.own-budget img{
    margin-top: -5px;
    cursor: pointer;
}


.stars{
    display: flex;
    justify-content: center;
    margin: 0 21px 22px 16px;
    border: 1px solid rgba(224, 224, 224, 1);
    border-radius: 6px;
    box-sizing: border-box;
}

.stars div{
    width: 50px;
    height: 46px;
    display: flex;
    justify-content: center;
    gap: 4px;
    align-items: center;
}

.stars div:hover{
    background-color: #fafafa;
    cursor: pointer;
}

#title-stars{
    margin-top: 18px;
    margin-bottom: 7px;
    margin-left: 17px;
    letter-spacing: 0.64px;
}

.stars div p{
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0.32px;
}

.stars div img{
    width: 18px;
    height: 18px;
}

#filter-bottom{
    margin-bottom: 23px;
}


.result-cards .lado{
    border: 1px solid rgba(47, 128, 237, 1);
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    text-align: center;
    color: rgba(47, 128, 237, 1);
    background-color: #f5f9fe;
    letter-spacing: 0.50px;
}

.result-cards .lado2{
    border: 1px solid rgba(47, 128, 237, 1);
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    text-align: center;
    letter-spacing: 0.35px;
    color: gray;
}


.result-cards .hotel{
    border-top: 1px solid rgba(47, 128, 237, 1);
    border-bottom: 1px solid rgba(47, 128, 237, 1);
    border-right: 1px solid rgba(47, 128, 237, 1);
    letter-spacing: 0.25px;
    color: gray;
}

.result-cards .residence{
    border-top: 1px solid rgba(47, 128, 237, 1);
    border-bottom: 1px solid rgba(47, 128, 237, 1);
    border-right: 1px solid rgba(47, 128, 237, 1);
    letter-spacing: 0.25px;
    color: gray;
}

.result-cards .resort{
    border-top: 1px solid rgba(47, 128, 237, 1);
    border-bottom: 1px solid rgba(47, 128, 237, 1);
    letter-spacing: 0.10px;
    color: gray;
}


.result .result-cards table tr{
    display: flex;
    gap: 0px;
}

.result .result-cards table td{
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    padding: 10px 18px;
}

.result .result-cards table td:hover{
    color: rgba(47, 128, 237, 1);
    background-color: #f5f9fe;
    cursor: pointer;
}

.top-resultados{
    display: flex;
    justify-content: space-between;
    margin-top: 26px;
    margin-left: -3px;
}

.sort-by{
    border: 1px solid rgba(189, 189, 189, 1);
    border-radius: 6px;
    width: 190px;
    height: 48px;
    box-sizing: border-box;
    padding-left: 11px;
    padding-top: 2px;
    margin-top: -1px;
}

.sort-by .lebel{
    position: absolute;
}

.sort-by label{
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.34px;
    color: gray;
}

.sort-by select{
    border: 0px;
    appearance: none;
    width: 187px;
    height: 45px;
    background-color: rgba(47, 128, 237, 0);
    margin-top: -20px;
    margin-left: -10px;
    box-sizing: border-box;
    padding-left: 10px;
    padding-top: 13px;
    position: absolute;
    letter-spacing: 0px;
    cursor: pointer;
}


.sort-by label::after{
    content: url(images/icons/flecha.svg);
    position: absolute;
    margin-left: 113px;
    margin-top: 15px;
    width: 16px;
}


/* Search Cards */

.result .div-cards{
    margin-top: 24px;
}

.result .card{
    width: 913px;
    height: 238px;
    border: 1px solid rgba(224, 224, 224, 1);
    border-radius: 5px;
    margin-bottom: 24px;
}

.result .card .margin{
    margin: 19px 19px;
    display: flex;
    justify-content: space-between;
}

.result .card .card-content{
    width: 670px;
    margin-left: 24px;
    display: flex;
}


/* Left Card */

.result .card .left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 188px;
    width: 390px;
    padding-top: 8px;
}

.result .card .left h3 {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.20px;
}

.ratings{
    display: flex;
    gap: 12px;
    padding-top: 4px;
}

.ratings p{
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0.28px;
    padding-top: 1px;
}

.result .card .left .texto1 {
    color: gray;
    font-weight: 500;
    font-size: 13px;
    line-height: 90%;
    letter-spacing: 0.26px;
    padding-top: 13px;
    margin-top: 1px;
}

.result .card .left .texto2 {
    color: gray;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 0.26px;
    padding-top: 1px;
    padding-bottom: 10px;
}

.result .card .left .button{
    width: 137px;
    height: 40px;
    border-radius: 6px;
    background-color: rgba(47, 128, 237, 1);
    text-align: center;
    align-content: center;
    color: white;
    text-decoration: none;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.50px;
}

/* Right Card */

.result .card .right{
    width: 190px;
    margin-right: 108px;
    padding-top: 4px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.result .card .right .discount-15{
    background-color: #eb5757;
    color: white;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    box-sizing: border-box;
    padding-top: 1px;
    letter-spacing: 0.43px;
    text-align: center;
    border-radius: 6px;
    width: 190px;
    height: 26px;
    align-content: center;
}

.result .card .right .discount-30{
    background-color: rgba(242, 153, 74, 1);
    color: white;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    box-sizing: border-box;
    padding-top: 1px;
    letter-spacing: 0.43px;
    text-align: center;
    border-radius: 6px;
    width: 236px;
    height: 26px;
    align-content: center;
    margin-left: -50px;
}

.result .card .right .price-section{
    text-align: right;
}

.result .card .right .price-section .discount{
    background-color: rgba(33, 150, 83, 1);
    width: 54px;
    height: 26px;
    border-radius: 6px;
    color: white;
    margin-left: 136px;
    text-align: center;
    align-content: center;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 0.48px;
    margin-bottom: 7px;
    box-sizing: border-box;
    padding-top: 1px;
}

.result .card .right .price-section .rooms{
    font-weight: 300;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0.20px;
    text-align: right;
    vertical-align: middle;
    color: gray;
    padding-bottom: 10px;
}

.result .card .right .price-section .taxes{
    color: gray;
    font-weight: 300;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0.12px;
    text-align: right;
    vertical-align: middle;
}

.result .card .right .price-section .div-price{
    display: flex;
    justify-content: right;
    padding-bottom: 9px;
    align-items: center;
}

.result .card .right .price-section .div-price .price-discount{
    color: rgba(235, 87, 87, 1);
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0.20px;
    text-align: right;
    vertical-align: middle;
    padding-right: 8.5px;
    text-decoration: line-through;
}

.result .card .right .price-section .div-price .price{
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    text-align: right;
    vertical-align: middle;
    letter-spacing: 0.20px;
}

.result .more-results{
    background-color: rgba(47, 128, 237, 0.1);
    width: 156px;
    height: 40px;
    border-radius: 6px;
    color: rgba(47, 128, 237, 1);
    text-align: center;
    align-content: center;
    margin: auto;
    margin-top: 40px;
    font-family: SF Pro Display;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.30px;
    margin-bottom: -240px;
}

.result .more-results a{
    text-decoration: none;
    color: rgba(47, 128, 237, 1);
}




/* Datails */


/* Datails Photo Section */

.detail-index .background-photos{
     background: linear-gradient(180deg, rgba(244, 244, 244, 255) 0%, #FFFFFF 100%);
     margin: 0 -100px;
}

.detail-index .photos{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding-top: 24px;
    padding-bottom: 30px;
    margin: 0 100px;
}

.detail-index .photos div{
    display: flex;
    flex-direction: column;
    gap: 16px;
}


/* Datails Explore Section */

.detail-index .explore ul{
    display: flex;
    gap: 13.5px;
}

.detail-index .explore ul li{
    text-align: center;
    list-style: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0.34px;
    align-content: center;
    cursor: pointer;
}

.detail-index .explore .select{
    box-sizing: border-box;
    border-bottom: 3px solid #2F80ED;
    width: 94px;
    height: 42px;
}

.detail-index .explore .rooms{
    width: 77px;
    height: 40px;
}

.detail-index .explore .guest{
    width: 133px;
    height: 40px;
}


/* Datails Overview Section */

.detail-index .Overview{
    background-color: #f4f4f4;
    border-top: 1px solid #e0e0e0;
    margin: 0 -100px;
}

.detail-index .Overview .margin{
    margin: 0 100px;
    display: flex;
    justify-content: space-between;
}

.detail-index .Overview .name-hotel{
    margin-top: 39px;
    margin-bottom: 8px;
    font-weight: 600;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0.32px;
    vertical-align: middle;
}

.detail-index .Overview .location{
    margin-top: 11px;
    display: flex;
    gap: 6px;
}

.detail-index .Overview .location p{
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0.28px;
    margin-top: 1px;
}


/* Datails Description Section */

.detail-index .Overview .description{
    margin-top: 32px;
    width: 810px;
    height: 508px;
    background-color: white;
    border-radius: 6px;
}

.detail-index .Overview .up{
    border-bottom: 1px solid #e0e0e0;
    height: 306px;
}

.detail-index .Overview .up .margin{
    margin: 0px 40px 0px 30px;
    padding-top: 26px;
    flex-direction: column;
}

.detail-index .Overview .up h4{
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0.18px;
    margin-bottom: 22px;
}

.detail-index .Overview .up p{
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.34px;
    color: gray;
    letter-spacing: 0.32px;
    margin-bottom: 3px;
}

.detail-index .Overview .down{
    margin: 28px 30px;
}

.detail-index .Overview .display-flex{
    display: flex;
    gap: 114px;
}

.detail-index .Overview .down h3{
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0.18px;
    margin-bottom: 25px;
}

.detail-index .Overview .down p{
    font-weight: 400;
    font-size: 15px;
    line-height: 140%;
    letter-spacing: 0.30px;
    color: gray;
    margin-top: 1px;
}

.detail-index .Overview .down .flex{
    display: flex;
    gap: 12px;
    margin-bottom: 12px;
}

.detail-index .Overview .down .imagen_pequenya{
    margin-top: 2px;
    margin-left: 1px;
    margin-right: 1px;
}

.detail-index .Overview .down .imagen_pequenya2{
    margin-top: 1px;
    margin-left: 1px;
    margin-right: 1px;
}


/* Datails Explore Section */

.detail-index .right .location{
    margin-top: 39px;
}

.detail-index .right h3{
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0.18px;
    margin-top: 37px;
    margin-bottom: 24px;
}

.detail-index .right .flex2{
    display: flex;
    gap: 10px;
}

.detail-index .right .flex1{
    display: flex;
    justify-content: space-between;
    margin-left: 3px;
    margin-bottom: 12px;
}

.detail-index .right .flex1 p{
    color: gray;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0.28px;
}


/* Datails Explore Section */

.detail-index .available-rooms{
    height: 300px;
    background-color: #f4f4f4;
    margin: 0 -100px;
}

.detail-index .available-rooms .margin{
    margin: 0 100px;
}

.detail-index .available-rooms .margin h2{
    padding-top: 40px;
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 27px;
    border-radius: 6px;
}

.detail-index .available-rooms .margin .botones{
    display: flex;
    gap: 12px;
    background-color: white;
    height: 64px;
    align-items: center;
    justify-content: space-around;
    border-radius: 6px;
}


.detail-index .available-rooms .margin .botones img{
    margin: 11px 0px 0px 12px;
}


.detail-index .available-rooms .margin .botones .uno{
    margin-left: 12px;
}



.detail-index .available-rooms .margin .botones img{
    position: absolute;
}

.detail-index .available-rooms .margin div input{
    width: 320px;
    height: 43px;
    box-sizing: border-box;
    background-color: #f2f2f2;
    color: rgba(51, 51, 51, 1);
    font-weight: 400;
    font-size: 14px;
    letter-spacing: -0.2px;
    border-radius: 4px;
    border: 0px;
    padding: 0px 40px 2px 42px;
    margin-bottom: 1px;
}

.detail-index .available-rooms .margin div button{
    width: 220px;
    height: 44px;
    background-color: rgba(47, 128, 237, 1);
    color: white;
    border-radius: 6px;
    border: 0px;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.20px;
    margin-right: 12px;
}

/* More Hotels Explore Section */

.detail-index .more-hotels{
    margin: -124px -100px 0px -100px;
    padding-bottom: 280px;
    background-color: #f4f4f4;
    display: flex;
    gap: 15px;
}

.detail-index .more-hotels article{
    overflow: hidden;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 6px;
    width: 400px;
    height: 432px;
}

.detail-index .more-hotels article h4{
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.19px;
    margin: 16px 0px 20px 20px;
}

.detail-index .more-hotels .habitacion div{
    display: flex;
    margin-left: 22px;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0.3px;
    color: gray;
    gap: 10px;
    margin-bottom: 10px;
}

.detail-index .more-hotels .habitacion a{
    text-decoration: none;
}

.detail-index .more-hotels .habitacion .button{
    width: 360px;
    height: 44px;
    background-color: rgba(47, 128, 237, 1);
    color: white;
    border-radius: 6px;
    margin-left: 20px;
    margin-top: 24px;
    text-align: center;
    align-content: center;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.3px;
    box-sizing: border-box;
    padding-right: 1px;
}


.detail-index .more-hotels .margin-left{
    margin-left: 5px;
}

.detail-index .more-hotels .announce{
    margin: 0 0px 0px 5px;
    width: 400px;
    height: 340px;
    background: linear-gradient(180deg, #4796FF 0%, #2366BF 100%);
    border-radius: 6px;
    color: white;
    margin-left: 105px;
    display: flex;
}

.detail-index .more-hotels .announce div{
    margin: 72px 0px 0px 28px;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    letter-spacing: 0.3px;
}

.detail-index .more-hotels .announce div span{
    color: rgba(255, 215, 35, 1);
}

.detail-index .more-hotels .announce div img{
    margin-bottom: 20.5px;
}

.detail-index .more-hotels .announce .persona{
    margin: 35px 0px 0px 154px;
    position: absolute;
}


.gray2{
    background-color: #f4f4f4;
    margin-top: -230px;
    margin-bottom: -50px;
}





/* Checkout Section */

.checkout{
    background-color: #f4f4f4;
    margin: 0 0;
}

.checkout .title{
    font-weight: 600;
    font-size: 32px;
    letter-spacing: 0.331px;
    padding-top: 57px;
    margin-bottom: -23px;
}

.checkout .margin{
    margin: 0 100px;
}

.checkout .row{
    display: flex;
    margin-left: 32px;
    margin-bottom: 23px;
}

.checkout .row div{
    display: flex;
    flex-direction: column;
}


.checkout .row .flag{
    padding-top: 31px;
    padding-left: 12px;
    position: absolute;
}

.checkout .row .flecha{
    margin-top: 38px;
    margin-left: 118px;
    position: absolute;
}


.checkout .row select{
    width: 150px;
    height: 44px;
    box-sizing: border-box;
    background-color: rgba(242, 242, 242, 1);
    border: 0px;
    padding-left: 46px;
    padding-bottom: 2px;
    font-weight: 400;
    font-size: 15px;
    line-height: 140%;
    letter-spacing: 0.15px;
    appearance: none;
    border-radius: 4px;
}




.checkout fieldset{
    display: flex;
    background-color: white;
    flex-direction: column;
    border: 0px;
    padding-top: 35px;
    padding-bottom: 40px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.checkout form{
    display: flex;
}


/* Checkout Left Section */

.checkout .left{
    width: 810px;
}

.checkout .left .legend{
    width: 810px;
    height: 60px;
    box-sizing: border-box;
    background-color: rgba(47, 128, 237, 1);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    color: white;
    align-content: center;
    margin-top: -20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.35px;
    padding-left: 20px ;
    padding-bottom: 2px;
}

.checkout .left .legend img{
    margin-bottom: -8px;
}

.checkout .left .legend span{
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.40px;
    padding-left: 16px;
    padding-right: 15px;
}

.checkout .left .row label{
    margin-bottom: 7px;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.25px;
}

.checkout .left .row input[type='text']{
    width: 240px;
    height: 44px;
    box-sizing: border-box;
    padding-left: 12px;
    border-radius: 4px;
    background-color: rgba(242, 242, 242, 1);
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0.3px;
    border: 0px;
    margin-right: 20px;
}

.checkout .left .row input[type='tel']{
    width: 338px;
    height: 44px;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: rgba(242, 242, 242, 1);
    border: 0px;
    margin-top: 21px;
    margin-left: 12px;
}

.checkout .left input[type='checkbox']{
    margin-left: 32px;
    margin-top: -2px;
    width: 20px;
    height: 19px;
}

.checkout .left .checkbox{
    margin-bottom: 30px;
    margin-left: 60px;
    position: absolute;
    margin-top: 176px;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0.29px;
    padding-bottom: 40px;
}


.checkout .left .divider .option{
    width: 100.1%;
    height: 48px;
    background-color: white;
    border-bottom: 1px solid rgba(224, 224, 224, 1);
    margin-top: -35px;
    display: flex;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.25px;
    gap: 13.5px;
}

.checkout .left .divider p{
    padding: 0 14.5px;
    height: 44px;
    align-content: center;
    margin-top: 4px;
    color: gray;
    cursor: pointer;
}

.checkout .left .divider .option .select{
    margin-top: 6px;
    align-content: center;
    height: 39px;
    border-bottom: 3px solid #2F80ED;
    margin-left: 32px;
}

.checkout .left .cards{
    margin-left: 32px;
    margin-top: 31px;
    margin-bottom: 29px;
    display: flex;
    gap: 6px;
}

.checkout .left .cards div{
    text-align: center;
    align-content: center;
    background-color: rgba(242, 242, 242, 1);
    box-sizing: border-box;
    border-radius: 5px;
    width: 60px;
    height: 40px;
    cursor: pointer;
}

.checkout .left .cards div img{
    padding-top: 3px;
}

.checkout .left .payment .row input[type='text']{
    width: 500px;
}

.checkout .left .payment .row input[type='number']{
    width: 240px;
    height: 44px;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: rgba(242, 242, 242, 1);
    border: 0px;
}

.checkout .left .payment .row select{
    text-align: left;
    padding-left: 12px;
    color: gray;
    height: 42px;
}

.checkout .left .payment .row .gap{
    margin-left: 20px;
    margin-bottom: -100px;
}

.checkout .left .payment .row img{
    position: absolute;
    margin-top: 39px;
    margin-left: 124px;
}

.checkout .left .payment .row .flechaa{
    position: absolute;
    margin-left: 286px;
    margin-top: 37px;
}


.checkout .left .payment .row .year{
    margin-top: 21px;
    margin-left: 12px;
}

.checkout .left .payment{
    height: 441px;
    margin-bottom: -20px;
}


.checkout .left .divider{
    margin-top: 50px;
}

.checkout .left .legend2{
    width: 810px;
    height: 60px;
    box-sizing: border-box;
    background-color: rgba(242, 201, 76, 1);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    color: black;
    align-content: center;
    margin-top: 50px;
    font-weight: 500;
    font-style: Medium;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.17px;
    padding-left: 24px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.checkout .left .information{
    height: 363px;
    box-sizing: border-box;
    padding-bottom: 0px;
}

.checkout .espacio{
    padding-top: 122px;
    color: #f4f4f4;
    background-color: #f4f4f4;
}

.checkout .left .information ol{
    margin-left: 45px;
    margin-top: -2px;
    font-weight: 400;
    font-size: 15px;
    line-height: 23px;
    letter-spacing: 0.31px;
    color: rgb(95, 95, 95);
    margin-bottom: 26px;
}

.checkout .left .information p{
    margin-left: 9px;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0.28px;
    color: gray;
}


.checkout .left .information button{
    width: 160px;
    height: 44px;
    box-sizing: border-box;
    border: 0px;
    background-color: rgba(47, 128, 237, 1);
    color: white;
    border-radius: 6px;
    margin-left: 24px;
    margin-bottom: 6px;
    margin-top: 21px;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.09px;
    cursor: pointer;
}

.checkout .left .information div{
    display: flex;
    margin-left: 24px;
    margin-bottom: 0px;
}

.checkout .left .information div p{
    margin-left: -7px;
}


.checkout .right .hotel{
    width: 400px;
    height: 400px;
    box-sizing: border-box;
    background-color: white;
    border-radius: 6px;
    margin-left: 30px;
    margin-top: -20px;
}

.checkout .right .hotel div{
    display: flex;
    margin-bottom: 17px;
}

.checkout .right .hotel p{
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.14px;
    margin-left: 20px;
    color: gray;
}

.checkout .right .hotel p span{
    color: rgba(235, 87, 87, 1);
}

.checkout .right .hotel h3{
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0.18px;
    margin-top: 18px;
    margin-left: 20px;
}

.checkout .right .hotel .start{
    margin-top: 11px;
    margin-left: 20px;
    margin-right: -8px;
}

.checkout .right .hotel div p{
    margin-top: 7px;
    letter-spacing: 0.28px;
}

.checkout .right .titledetails{
    width: 400px;
    height: 55px;
    background-color: rgba(133, 224, 171, 1);
    margin-left: 30px;
    margin-top: 30px;
    box-sizing: border-box;
    padding-left: 18px;
    align-content: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0.16px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.checkout .right .pricedetails{
    height: 283px;
    letter-spacing: 0.28px;
    margin-left: 30px;
    background-color: white;
    border: 1px solid rgba(224, 224, 224, 1);
    box-sizing: border-box;
    padding-top: 22px;
}

.checkout .right .pricedetails div{
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    width: 360px;
    margin-bottom: 12px;
}

.checkout .right .pricedetails p{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.12px;
    margin-left: -3px;
}

.checkout .right .pricedetails hr{
    margin-top: 20px;
    border-color: rgba(224, 224, 224, 1);
    color: rgba(224, 224, 224, 1);
    background-color: rgb(255, 255, 255);
    margin-bottom: 25px;
}

.checkout .right .pricedetails div .fuente{
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0.16px;
    margin-left: -3px;
}

.checkout .right .pricedetails .link{
    margin-left: 20px;
    margin-top: -3px;
    letter-spacing: 0.29px;
}

.checkout .right .pricedetails{
    margin-left: 30px;
    letter-spacing: 0.30px;
    font-weight: 500;
    font-style: Medium;
    font-size: 14px;
}

.checkout .right .pricedetails section{
    margin-top: 23px;
    margin-left: 17px;
}

.checkout .right .pricedetails section input[type='text']{
    margin-top: 6px;
    margin-left: -20px;
    width: 226px;
    height: 44px;
    box-sizing: border-box;
    background-color: rgba(242, 242, 242, 1);
    border: 0px;
    border-radius: 4px;
}

.checkout .right .pricedetails section button{
    width: 132px;
    height: 44px;
    margin-top: 6px;
    box-sizing: border-box;
    margin-right: 16px;
    border: 0px;
    border-radius: 6px;
    background-color: rgba(51, 51, 51, 1);
    color: white;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.10px;
    cursor: pointer;
}


.index .griscolor{
    background-color: #f4f4f4;
    margin: 0 -100px;
}


.index .ponermargin{
    background-color: #f4f4f4;
    margin: 0 100px;
}

.index .ponermargin .warning{
    margin-bottom: -18px;
}

.index .ponermargin .espacio{
    padding-bottom: 20px;
}

.index .ponermargin .section-cards{
    margin-bottom: 65px;
}


/* My Trips Section */

.index .trips .title-card{
    font-weight: 600;
    font-size: 32px;
    letter-spacing: 0.30px;
    margin-left: 105px;
    padding-top: 58px;
    margin-bottom: 25px;
}


.index .trips article{
    width: 1030px;
    height: 240px;
    box-sizing: border-box;
    background-color: white;
    display: flex;
    margin: auto;
    border-radius: 5px;
    border: 1px solid rgba(224, 224, 224, 1);
}

.index .trips .flex{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.index .trips .flex{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 27px;
}

.index .trips .left div{
    display: flex;
    gap: 10px;
}

.index .trips #photo{
    margin-top: 19px;
    margin-left: 19px;
    margin-right: 24px;
}

.index .trips .flex .name{
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.20px;
    margin-bottom: 11px;
}



/* Footer */

.gray{
    padding-top: 80px;
    background-color: #f4f4f4;
}


footer{
    margin: 0px 100px;
}

footer .title-footer h2{
    margin-top: 77px;
    margin-bottom: 13px;
    font-weight: 600;
    font-size: 28px;
    line-height: 140%;
    text-align: center;
    vertical-align: middle;
}

footer .title-footer p{
    margin-bottom: 81px;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.32px;
    text-align: center;
}

footer  nav{
    display: flex;
    justify-content: space-between;
}


footer nav ul{
    list-style: none;
    width: 25%;
    margin-left: 61px;
}

footer nav ul h6{
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0.32px;
    margin-bottom: 20px;
}

footer nav ul li a{
    text-decoration: none;
    color: rgba(79, 79, 79, 1);
}

footer nav ul li{
    margin-bottom: 14px;
    color: rgba(79, 79, 79, 1);
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0.32;
}

footer nav ul li a:hover{
    color: #9bc5fd ;
    transition: color 0.3s ease;
}

footer #footer-footo{
    margin-right: 21px;
    margin-left: 0px;
}

footer #footer-footo li{
    width: 197px;
    margin-left: 28px;
    line-height: 20px;
}

footer .copy{
    height: 40px;
    background-color: rgba(235, 235, 235, 1);
    margin: 0 -100px;
    margin-top: 44px;
    align-content: center;
    text-align: right;
}

footer .copy p{
    margin-right: 205px;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0%;
}

footer .copy span{
    font-size: 19px;
    margin-right: 3px;
}